@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

/** META-STYLING (*/
/* Remove HTML's default styling  (CSS reset) */
* {
    margin: 0 px;
    padding: 0 px;
  }


/** BASE ELEMENTS **/
html, body {
    font-family: Poppins, 'Helvetica Neue', Helvetica, sans-serif, Arial;
    font-size: 18px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    border-bottom: 0.5em solid black;
}

.container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN CONTENT */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addBookBtn {
    margin: 3em;
}

/* MODAL FORM */
.modal {
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#modalForm {
    background-color: #f4f4f4;
    padding: 20px;
    width: 20%;
    animation-name: modalopen;
    animation-duration: 0.3s;
}

@keyframes modalopen{
    from {opacity: 0}
    to {opacity: 1}
}

fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.form-status {
    display: flex;
    column-gap: 2rem;
}

#cancelBtn {
    background-color: #9ea7aa;
}

#submitBtn {
    background-color: #64ffda;
}


/* TABLE */
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    text-align: left;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235,235,235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

caption {
    padding: 10px;
    text-align: left;
}

/* FOOTER */
.footer {
    font-family: Courier, 'Helvetica Neue', sans-serif;
    color: black;
    align-items: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
